<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="C196 Student Scheduler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity"
        tools:targetApi="31">
        <activity
            android:name=".UI.MentorsList"
            android:exported="false"
            android:label="Mentors"
            android:parentActivityName=".UI.HomeScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AssessmentsList"
            android:exported="false"
            android:label="Assessments"
            android:parentActivityName=".UI.HomeScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.AssessmentDetails"
            android:exported="false"
            android:label="Assessment Details"
            android:parentActivityName=".UI.AssessmentsList">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TermsList"
            android:exported="false"
            android:label="Terms"
            android:parentActivityName=".UI.HomeScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.TermDetails"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".UI.TermsList">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".UI.CoursesList"
            android:exported="false"
            android:label="Courses"
            android:parentActivityName=".UI.HomeScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI.CourseDetails"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName=".UI.CoursesList">
            <meta-data
                android:name="android.app.lib_name"
                android:value=""/>
        </activity>
        <activity
            android:name=".UI.HomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>